<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    
    <plugin name="uexDataAnalysis">
        <method name="startEveryReport"></method>
        <method name="setEvent"></method>
        <method name="beginEvent"></method>
        <method name="endEvent"></method>
        <method name="setErrorReport"></method>
        <method name="setTenantId"></method>
        <method name="setAnalyticsOptions"></method>
        <method name="setHost"></method>
        <method name="getHost"></method>
    </plugin>
    
</uexplugins>
