<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexNBSAppAgent">
        <method name="startNBSAppAgent"></method>
        <method name="setOptions"></method>
        <method name="leaveBreadcrumb"></method>
        <method name="trackEvent"></method>
        <method name="beginTracer"></method>
        <method name="endTracer"></method>
    </plugin>
</uexplugins>
